# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor
.vscode
.idea
*.iml
*.swp

# Environment
.env

# macOS
.DS_Store

# Binaries
/immu
cmd/immu/immu
/immud
cmd/immud/immud
/nimmu
/bm
/immugw
cmd/immugw/immugw

# Working files
/immudb
/.root
cmd/immugw/.root
cmd/immud/immudb
**/.root
immud.pid

# Vendor
vendor

# Config
cmd/immugw/.root
configs/immu.ini
configs/immud.ini
configs/immugw.ini

# immud auth
cmd/immu/token
cmd/immud/immud_pwd
