apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "immudb.fullname" . }}
  labels:
    {{- include "immudb.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "immudb.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "immudb.fullname" . }}    
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "immudb.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: metrics
              containerPort: 9497
              protocol: TCP
            - name: grpc
              containerPort: 3322
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /readyz
              port: metrics
              failureThreshold: 9
          readinessProbe:
            httpGet:
              path: /readyz
              port: metrics
          {{- if $.Values.adminPassword }}
          env:
          - name: IMMUDB_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "immudb.fullname" . }}-credentials
                key: immudb-admin-password
          {{- end}}      
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
