dir = "."
address = "0.0.0.0"
port = 3323
immudb-address = "127.0.0.1"
immudb-port = 3322
pidfile = ""
logfile = ""
mtls = false
detached = false
servername = "localhost"
pkey = "./tools/mtls/4_client/private/localhost.key.pem"
certificate = "./tools/mtls/4_client/certs/localhost.cert.pem"
clientcas = "./tools/mtls/2_intermediate/certs/ca-chain.cert.pem"
audit = false
# valid suffixes: "s", "m", "h", examples: 10s, 5m 1h
audit-interval = "5m"
audit-username = "immugwauditor"
# password can be plaintext or base64 encoded (must be prefixed with 'enc:' if it is encoded)
audit-password = ""
