# Default values for immudb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: codenotary/immudb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
volume:
  class: ""
  size: 5Gi
adminPassword: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
   runAsNonRoot: true
   runAsUser: 3322
   runAsGroup: 3322
   fsGroup: 3322
   fsGroupChangePolicy: "OnRootMismatch"

podSecurityContext:
   readOnlyRootFilesystem: true
   capabilities:
     drop:
     - ALL

service:
  type: ClusterIP
  ports:
    grpc: 3322
    metrics: 9497
    http: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hostname: immudb-example.localhost
  tls:
    enabled: false
    secretName: immudb-tls

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# We can now use a subdirectory inside the volume so that if you are mounting volumes
# that have a `/lost+found` directory (i.e., ext4), immudb don't get confused assuming that
# is a database. Enable this in case you are using a ext4 block-based volume provider,
# like DigitalOcean or EBS. Disable if you already have some data in the volume root.
volumeSubPath:
  enabled: true # or false
  path: /immudb
